{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
<h1>{% templatetag openblock %} trans "Your account has been activated" {% templatetag closeblock %}</h1>

<p>
    {% templatetag openblock %} blocktrans with site_name=site.name {% templatetag closeblock %}
    Thanks for confirming your details. You may now log in and use
    {% templatetag openvariable %} site_name {% templatetag closevariable %}.
    {% templatetag openblock %} endblocktrans {% templatetag closeblock %}
</p>

{% templatetag openblock %} endblock {% templatetag closeblock %}