{% templatetag openblock %} load i18n {% templatetag closeblock %}
{% templatetag openblock %} trans "Hi" {% templatetag closeblock %} {% templatetag openvariable %} user.first_name {% templatetag closevariable %},

{% templatetag openblock %} blocktrans with site_name=site.name {% templatetag closeblock %}
Thanks for creating an account with {% templatetag openvariable %} site_name {% templatetag closevariable %}. To complete
your registration, please copy the link below into your browser:
{% templatetag openblock %} endblocktrans {% templatetag closeblock %}

  <a href="{% templatetag openblock %} url 'registration_activate' activation_key {% templatetag closeblock %}">{% templatetag openblock %} url 'registration_activate' activation_key {% templatetag closeblock %}</a>

{% templatetag openblock %} blocktrans with site_name=site_name {% templatetag closeblock %}
The {% templatetag openvariable %} site_name {% templatetag closevariable %} Team
{% templatetag openblock %} endblocktrans {% templatetag closeblock %}