<div class="clearfix{% templatetag openblock %} if field.errors {% templatetag closeblock %} error{% templatetag openblock %} endif {% templatetag closeblock %}">
    {% templatetag openvariable %} field.label_tag {% templatetag closevariable %}
    <div class="input">
        {% templatetag openvariable %} field {% templatetag closevariable %}
        {% templatetag openblock %} if field.errors {% templatetag closeblock %}
            <span class='help-inline'>{% templatetag openvariable %} field.errors|join:'<br />' {% templatetag closevariable %}</span>
        {% templatetag openblock %} endif {% templatetag closeblock %}
        <span class="help-block">{% templatetag openvariable %} field.help_text {% templatetag closevariable %}</span>
    </div>
</div>