{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
    <h1 class="page-header">{% templatetag openblock %} trans "You're logged out" {% templatetag closeblock %}</h1>
    <p><a href="{% templatetag openblock %} url 'django.contrib.auth.views.login' {% templatetag closeblock %}">{% templatetag openblock %} trans 'Log in again' {% templatetag closeblock %}</a></p>
{% templatetag openblock %} endblock content {% templatetag closeblock %}