{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block container {% templatetag closeblock %}
    <div class="content">
        {% templatetag openblock %} if form.errors {% templatetag closeblock %}
            <div class="alert-message error fade in">
                <a class="close" href="#">×</a>
                <p>{% templatetag openblock %} blocktrans count form.errors.items|length as counter {% templatetag closeblock %}Please correct the error below.{% templatetag openblock %} plural {% templatetag closeblock %}Please correct the errors below.{% templatetag openblock %} endblocktrans {% templatetag closeblock %}</p>
            </div>
        

        {% templatetag openblock %} endif {% templatetag closeblock %}
        <form action="." method="post" id='mainForm'>{% templatetag openblock %} csrf_token {% templatetag closeblock %}
            <fieldset>
                <legend>{% templatetag openblock %} trans "Password reset" {% templatetag closeblock %}</legend>
                <div class="clearfix">
                    <div class="input">
                        {% templatetag openblock %} trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." {% templatetag closeblock %}
                    </div>
                </div>
                {% templatetag openblock %} for field in form {% templatetag closeblock %}
                    {% templatetag openblock %} include 'registration/form_field.html' {% templatetag closeblock %}
                {% templatetag openblock %} endfor {% templatetag closeblock %}
                <div class="actions">
                    <button id='submit' class="btn primary" type="submit" data-loading-text="{% templatetag openblock %} trans 'loading' {% templatetag closeblock %}..." accesskey="Enter">{% templatetag openblock %} trans 'Reset my password' {% templatetag closeblock %}</button>
                </div>
            </fieldset>
        </form>
    </div>
{% templatetag openblock %} endblock container {% templatetag closeblock %}