{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block container {% templatetag closeblock %}
<div class="content">
    {% templatetag openblock %} if form.errors {% templatetag closeblock %}
        <div class="alert-message error fade in">
            <a class="close" href="#">×</a>
            <p>{% templatetag openblock %} blocktrans count form.errors.items|length as counter {% templatetag closeblock %}Please correct the error below.{% templatetag openblock %} plural {% templatetag closeblock %}Please correct the errors below.{% templatetag openblock %} endblocktrans {% templatetag closeblock %}</p>
        </div>
    {% templatetag openblock %} endif {% templatetag closeblock %}
    <form action="." method="post" id='mainForm'>{% templatetag openblock %} csrf_token {% templatetag closeblock %}
        <fieldset>
            <legend>{% templatetag openblock %} trans 'Password change' {% templatetag closeblock %}</legend>
            <div class="clearfix">
                <div class="input">
                    {% templatetag openblock %} trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." {% templatetag closeblock %}
                </div>
            </div>
            
            {% templatetag openblock %} for field in form {% templatetag closeblock %}
                {% templatetag openblock %} include 'registration/form_field.html' {% templatetag closeblock %}
            {% templatetag openblock %} endfor {% templatetag closeblock %}
            <div class="actions">
                <button id='submit' type="submit" class="btn primary">{% templatetag openblock %} trans 'Change my password' {% templatetag closeblock %}</button>&nbsp;<button type="reset" class="btn">{% templatetag openblock %} trans 'Cancel' {% templatetag closeblock %}</button>
            </div>
        </fieldset>
        <script type="text/javascript">
            $(function(){
                $(".alert-message").alert();
                $('#mainForm').submit(function(){
                    $('#submit').button('loading');
                })
            });
            document.forms[0].elements[2].focus();
        </script>
    </form>
</div>


{% templatetag openblock %} endblock {% templatetag closeblock %}