{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block container {% templatetag closeblock %}
    <div class="content">
        <h3>{% templatetag openblock %} trans 'Password reset complete' {% templatetag closeblock %}</h3>
        <p>{% templatetag openblock %} trans "Your password has been set.  You may go ahead and log in now." {% templatetag closeblock %}</p>
    </div>
{% templatetag openblock %} endblock container {% templatetag closeblock %}