{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block container {% templatetag closeblock %}
    <div class="content">
        <h3>{% templatetag openblock %} trans 'Password reset successful' {% templatetag closeblock %}</h3>
        <p>{% templatetag openblock %} trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." {% templatetag closeblock %}</p>
    </div>
{% templatetag openblock %} endblock container {% templatetag closeblock %}