{% templatetag openblock %} load url from future {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} blocktrans with site_name=site_name {% templatetag closeblock %}
Hi

You recently asked to reset your {% templatetag openvariable %} site_name {% templatetag closevariable %} password. To complete your request, please follow the link below:
{% templatetag openblock %} endblocktrans {% templatetag closeblock %}

{% templatetag openvariable %} protocol {% templatetag closevariable %}://{% templatetag openvariable %} domain {% templatetag closevariable %}{% templatetag openblock %} url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token {% templatetag closeblock %}

{% templatetag openblock %} blocktrans with site_name=site_name {% templatetag closeblock %}
Thanks for using {% templatetag openvariable %} site_name {% templatetag closevariable %}!

The {% templatetag openvariable %} site_name {% templatetag closevariable %} Team
{% templatetag openblock %} endblocktrans {% templatetag closeblock %}