{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block container {% templatetag closeblock %}
    <div class="content">
    {% templatetag openblock %} if validlink {% templatetag closeblock %}
        {% templatetag openblock %} if form.errors {% templatetag closeblock %}
            <div class="alert-message error fade in">
                <a class="close" href="#">×</a>
                <p>{% templatetag openblock %} blocktrans count form.errors.items|length as counter {% templatetag closeblock %}Please correct the error below.{% templatetag openblock %} plural {% templatetag closeblock %}Please correct the errors below.{% templatetag openblock %} endblocktrans {% templatetag closeblock %}</p>
                <script type="text/javascript">
                    $(document).ready(function(){
                        $(".alert-message").alert();
                    });
                </script>
            </div>
        {% templatetag openblock %} endif {% templatetag closeblock %}
        <form action="" method="post">{% templatetag openblock %} csrf_token {% templatetag closeblock %}
            <fieldset>
                <legend>{% templatetag openblock %} trans 'Password reset unsuccessful' {% templatetag closeblock %}</legend>
                <div class="clearfix">
                    <div class="input">
                        {% templatetag openblock %} trans "Please enter your new password twice so we can verify you typed it in correctly." {% templatetag closeblock %}
                    </div>
                </div>
                {% templatetag openblock %} for field in form {% templatetag closeblock %}
                    {% templatetag openblock %} include 'registration/form_field.html' {% templatetag closeblock %}
                {% templatetag openblock %} endfor {% templatetag closeblock %}
                <div class="actions">
                    <input type="submit" class="btn primary" value="{% templatetag openblock %} trans 'Change my password' {% templatetag closeblock %}">
                </div>
            </fieldset>
            <script type="text/javascript">
                document.forms[1].elements[2].focus();
            </script>
        </form>
    {% templatetag openblock %} else {% templatetag closeblock %}
        <h3>{% templatetag openblock %} trans 'Password reset unsuccessful' {% templatetag closeblock %}</h3>
        <p>
            {% templatetag openblock %} trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." {% templatetag closeblock %}
        </p>
    {% templatetag openblock %} endif {% templatetag closeblock %}
    </div>
{% templatetag openblock %} endblock container {% templatetag closeblock %}