{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
<h1>{% templatetag openblock %} trans "Registration temporarily closed" {% templatetag closeblock %}</h1>

<p>
{% templatetag openblock %} blocktrans with site_name=site.name {% templatetag closeblock %}
Registration has been temporarily suspended while we perform some essential
system upgrades.
{% templatetag openblock %} endblocktrans {% templatetag closeblock %}
</p>

<p>{% templatetag openblock %} trans "Please try again later" {% templatetag closeblock %}.</p>
{% templatetag openblock %} endblock content {% templatetag closeblock %}