{% load i18n %}
{% load sekizai_tags %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% bootstrap_css %}

    {% render_block "css" %}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% bootstrap_javascript %}

</head>
<body>
    {% include '_nav.html' %}
    
<div class="container">
    {% block container %}
        {% bootstrap_messages %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}
    <footer>
        <p><a href='http://{{ site.domain }}'>{{ site.name }}</a> &copy; {% now "Y" %}</p>
    </footer>
</div>
    {% render_block "js" %}
</body>
</html>
